build/
build-test/
build-lint/
download/
sdk/
vendor/
.idea/
.cache/
*.xpl
*.o
*.a
*.dylib
.DS_Store
data/imgui.ini
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile.cmake
compile_commands.json
